@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: "Poppins", sans-serif;
	overflow-x: hidden;
}

@layer components {
	* {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.stickyNavbar {
		@apply sticky top-0;
	}

	.stickyNavbarStyles {
		@apply flex bg-[#F6F8FB] items-center justify-between w-full px-8 sm:px-16 py-5 shadow-lg;
	}

	.btn-primary{
    @apply bg-dc-blue text-dc-gray px-6 py-3 rounded-xl text-sm border border-transparent hover:border-dc-blue hover:bg-transparent hover:text-dc-blue transition duration-300 ease-in-out;
  }
	.btn-white {
		@apply bg-white text-dc-blue hover:bg-dc-blue hover:text-white text-sm md:text-sm lg:text-base xl:text-lg px-5 py-4 sm:px-6 sm:py-5 rounded-xl shadow-2xl hover:shadow-xl focus:outline-none transition-all border border-transparent hover:border-white duration-200 ease-in-out cursor-pointer;
	}

	.input{
		@apply w-full rounded-lg px-5 py-4 sm:px-6 sm:py-4 text-sm bg-dc-gray focus:outline-none border border-transparent focus:border-gray-200
	}

	.homeBanner {
		@apply w-full h-full relative;
	}

	.tab-active {
		@apply text-sm md:text-base py-2 px-4 md:py-3 md:px-5 bg-dc-blue text-white shadow-lg md:shadow-2xl rounded-2xl cursor-pointer;
	}

	.dashboard-btn-white {
		@apply flex space-x-2 hover:bg-dc-blue hover:text-white items-center px-6 py-4 text-sm md:text-base rounded-2xl shadow-lg bg-white text-dc-blue border hover:border-transparent border-dc-blue cursor-pointer transition-all duration-200 ease-in-out;
	}
	.dashboard-btn-blue {
		@apply flex space-x-2 bg-dc-blue text-white items-center px-6 py-4 text-sm md:text-base rounded-2xl shadow-lg hover:bg-white hover:text-dc-blue border border-transparent hover:border-dc-blue cursor-pointer transition-all duration-200 ease-in-out;
	}
	.dashboard-btn-red {
		@apply flex space-x-2 bg-red-400 text-white items-center px-6 py-4 text-sm md:text-base rounded-2xl shadow-lg hover:bg-white hover:text-red-400 border border-transparent hover:border-red-400 cursor-pointer transition-all duration-200 ease-in-out;
	}

	.tab-inactive {
		@apply text-sm md:text-base py-2 px-4 md:py-3 md:px-5 bg-white rounded-2xl cursor-pointer text-gray-500;
	}

	.social-link {
		@apply bg-dc-gray w-12 h-12 md:w-14 md:h-14 p-3 md:p-4 rounded-xl md:rounded-2xl cursor-pointer hover:shadow-inner flex flex-col items-center justify-center;
	}

	.dc-table-header {
		@apply bg-dc-blue flex flex-col items-center justify-center py-3 px-3 md:py-4 md:px-5 text-center text-white rounded-2xl md:rounded-3xl text-sm md:text-base lg:text-lg font-semibold sm:font-bold bg-opacity-80;
	}
	.dc-table-data {
		@apply bg-dc-gray flex flex-col items-center justify-center py-3 px-3 md:py-4 md:px-5 text-center text-gray-500 rounded-2xl md:rounded-3xl text-xs md:text-sm lg:text-base border border-gray-200;
	}

	.dc-input {
		@apply w-full rounded-xl px-5 py-4 sm:px-6 sm:py-5 bg-dc-gray focus:outline-none border border-transparent focus:shadow-inner focus:border-gray-200 text-gray-500 text-sm md:text-base;
	}

	.dc-btn-delete {
		@apply bg-red-400 text-white text-sm md:text-base lg:text-xl rounded-xl p-3 shadow-lg hover:shadow-md hover:text-red-400 hover:bg-white transition-all duration-200 ease-in-out cursor-pointer;
	}

	.navLink {
		@apply p-3.5 bg-white rounded-xl text-gray-500 hover:bg-dc-blue hover:text-white transition duration-200 ease-in-out cursor-pointer border border-gray-100 hover:border-dc-blue;
	}

	.NavLinkActive {
		@apply bg-dc-blue text-white p-3.5 rounded-xl  border border-gray-100;
	}

	.hide-scrollbar::-webkit-scrollbar {
		width: 0px;
		background: transparent; /* make scrollbar transparent */
	}

	.dropdown:hover .dropdown-menu {
		display: block;
	}
}
